:root {
  --primary-color: #9bebff;
  --blue: #d3e7f3;
  --secondary-light-color: aliceblue;
  --green: #d0efda;
  --light-green: #cadcd3;
  --pink: #e2d4df;
  --yellow: #fcf6da;
  --light-color: #FFFEFC;
  --grey-color: #929895;
  --dark-color: #1e2138;
  --white-color: #FFFEFC;

  --primary-font: 'Josefin Sans', sans-serif;
  --seconday-font: 'Rowdies', sans-serif;

  --border-width: 3px;
  --element-border-radius: 5px;
  --button-height: 2px;
  --small-button-height: 2px;
  --element-padding: 0.8em;
  --maximum-width: 340px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  color: black;
  background: var(--secondary-light-color);
  font-family: var(--primary-font);
}

/* === Typography === */

h1, h2, h3, p {
  margin: 0;
}

h2, h3 {
  font-weight: 700;
}

.app-title {
  font-family: var(--seconday-font);
  font-weight: 400;
  font-size: 3.21em;
  text-align: center;
}

/* === Sections === */

section {
  margin: 3em 0;
}

.auth-fields-and-buttons {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.auth-fields-and-buttons input {
  background-color: var(--blue);
}

/* === User Section === */

.user-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8em;
}

.user-section h2 {
  font-size: 1.35rem;
}

.user-section img {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  border: var(--border-width) solid var(--dark-color);
}

/* === Post Section === */

.post-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.post-section textarea {
  border: 1px solid rgb(225, 225, 225);
}

/* == Post Section - Mood Emojis == */

.mood-emojis {
  display: flex;
}

.mood-emoji-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.85em;
  gap: 0.3em;
  background-color: transparent;
  border: 0;
  padding-top: .4em;
  padding-bottom: .4em;
}

.mood-emoji-btn:hover {
  transform: scale(1.2);
}

.mood-emoji-btn img {
  width: 3.1em;
  height: 3.1em;
}

.selected-emoji {
  transform: scale(1.2);
  opacity: 1;
}

.unselected-emoji {
  transform: scale(1);
  opacity: 0.5;
}

/* === Posts Section === */

.posts-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1.8em;
}

/* == Posts Section - Filters == */

.filters-and-posts-section {
  margin-top: .55em;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.filters-section {
  display: flex;
  gap: 0.4em;
}

.filter-btn {
  color: black;
  font-size: 0.95em;
  padding: 0.2em;
  padding-top: 0.5em;
  background-color: transparent;
}

.selected-filter {
  color: var(--white-color);
  background-color: var(--dark-color);
}

/* == Posts Section - Posts == */

.post {
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  padding: 0.8em;
  border-radius: var(--element-border-radius);
  gap: 0.4em;
  border: var(--border-width) solid var(--dark-color);
}

/* = Posts Section - Posts - Header = */

.post .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post .header h3 {
  font-size: 1.2em;
}

.post .header img {
  width: 2em;
}

/* = Posts Section - Posts - Body = */

.post p {
  font-size: 1.15em;
  line-height: 1.3em;
  margin-top: -0.25rem;
}

/* = Posts Section - Posts - Footer = */

.post .footer {
  display: flex;
  align-self: flex-start;
  gap: 0.4em;
}

.post .footer button {
  font-size: 0.9em;
  padding: 0.5em 0.8em 0.2em 0.8em;
  box-shadow: 0px var(--small-button-height) 0px 0px var(--dark-color);
  position: relative;
}

.post .footer button:hover {
  top: var(--small-button-height);
  box-shadow: none;
}

.post .footer .edit-color {
  background-color: var(--green);
}

.post .footer .pink {
  background-color: var(--pink);
}

/* === Nav === */

nav {
  margin: 0.6em 0 0.2em 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* === Structure === */

.container {
  max-width: var(--maximum-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#logged-out-view .container {
  gap: 1.7em;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: .75em;
}

/* === Common for elements === */

input, button, textarea {
  font-family: inherit;
  padding: var(--element-padding);
  border-radius: var(--element-border-radius);
  width: 100%;
  box-sizing: border-box;
}

input,
button {
  font-size: 1.1em;
  text-align: center;
  border: var(--border-width) solid var(--dark-color);
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}

/* === Input fields === */

textarea {
  font-size: 1em;
  border: 0;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .25);
  resize: none;
  height: 6em;
}

textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 1.1em;
  color: var(--grey-color);
  opacity: 1; /* Firefox */
}

textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--grey-color);
}

textarea::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--grey-color);
}

input {
  font-weight: 400;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--grey-color);
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--grey-color);
}

input::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--grey-color);
}

/* === Buttons === */

button {
  font-weight: 600;
  width: 100%;
}

button:hover {
  cursor: pointer;
}

.primary-btn {
  font-size: 1.25em;
  font-weight: 700;  
  background-color: var(--blue);
  background-image: linear-gradient(to left, #ceedd8, #e0e8cc, #efe2c9, #f9dcce, #fad9d9, #f6d9e2, #f0dbe9, #e8ddee, #e3e0f0, #e0e3f0, #dee5ef, #dfe7ed);
  box-shadow: 1px var(--button-height) 0px 1px var(--dark-color);
  position: relative;
  padding: .4em;
  padding-top: .75em
}

.primary-btn:hover {
  top: var(--button-height);
  background-image: linear-gradient(to left, #b5e8c5, #d2e0b1, #ebd6ac, #fec7c7, #f9c8d6, #eecbe3, #d9d5f0, #d4dbf2, #d3e3ee);
  box-shadow: none;
}

.secondary-btn {
  background-color: var(--light-green);
  background-image: linear-gradient(to right bottom, #c9eed5, #d0f1da, #d7f3e0, #d0ecd9, #c2e1cc, #a2c8ae);
  font-size: .87rem;
  font-weight: 700;
  box-shadow: 1px var(--button-height) 0px 0px var(--dark-color);
  position: relative;
  padding: 0.5em;
  padding-top: .825em;
}

.secondary-btn:hover {
  top: var(--button-height);
  background-color: var(--green);
  box-shadow: none;
}

.provider-btn {
  color: var(--dark-color);
  background-color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border: 0;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .25);
}

.provider-btn:hover {
  transition: all 0.2s ease;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .25);
}

.google-btn-logo {
  width: 1.375em;
}

.icon-btn {
  display: inline-block;
  background: none;
  cursor: pointer;
  border: none;
  padding: 0;
  width: 1.6em;
  vertical-align: middle;
}

.icon-img-btn:hover {
  filter: invert(0.5);
}

/* === IDs === */

#logged-out-view {
  display: none;
}

#logged-in-view {
  display: none;
  margin: 0;
}

@media (min-width: 320px) and (max-width:359px) {
  :root {
    --maximum-width: 304px;
    --element-padding: 0.6em;
  }
  html {
    font-size: 14px;
  }
  .mood-emoji-btn img{
    width: 2.8em;
    height: 2.8em;
  }
  .post p {
    font-size: 1.05em;
    line-height: 1.3em;
    margin-top: -0.25rem;
  }  
}

/* default: screens 360px-519px */

@media (min-width: 420px) {
  :root {
    --maximum-width: 404px;
  }
}

  @media (min-width: 600px) {
    :root {
      --maximum-width: 570px;
    }
    html {
      font-size: 20px;
    }
    .mood-emoji-btn img{
      width: 4em;
      height: 4em;
    }
}
